
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 
 body{
   background: #191c20;
 }
 
 @font-face {
   font-family: 'MyCustomFont';
   src: url('/public/fonts/MyCustomFont2.otf') format('opentype'); /* Absolute path */
   font-weight: normal;
   font-style: normal;
 }
 
 body {
   font-family: 'MyCustomFont', sans-serif;
 }
 